In [ ]:
import nltk
import re
import os
import pandas as pd
import numpy as np
import scipy.sparse as sp
import lightgbm as lgb
import scipy.sparse as sp

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.decomposition import LatentDirichletAllocation, NMF, TruncatedSVD
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import roc_auc_score, f1_score, recall_score, precision_score, classification_report
from urllib.parse import unquote, urlparse, quote
from sklearn.feature_extraction.text import TfidfVectorizer
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# 数据读取与拼接
train = pd.read_csv('./data/dataTrain.csv')
test = pd.read_csv('./data/dataA.csv')
train['f3'] = train['f3'].map({'low': 0, 'mid': 1, 'high': 2})
test['f3'] = test['f3'].map({'low': 0, 'mid': 1, 'high': 2})

# 剔除最后1w
train = train[:50000]
sum(train['label'] == 1)

12470

In [ ]:
allf = [i for i in train.columns if i not in ['id', 'label']]
for f in allf:
  nzeros = train[f] != 0
  zeros = train[f] == 0
  label_zeros = train['label'] == 0
  label_nzeros = train['label'] != 0
  print(f)
  print(f'!0: {sum(nzeros)} ; =0:{sum(zeros)}')
  print(f'0&0:{sum(zeros&label_zeros)} 0&1:{sum(zeros&label_nzeros)} 1&0:{sum(nzeros&label_zeros)} 1&1:{sum(nzeros&label_nzeros)}')

f1
!0: 15314 ; =0:34686
0&0:22791 0&1:11895 1&0:14739 1&1:575
f2
!0: 34359 ; =0:15641
0&0:8734 0&1:6907 1&0:28796 1&1:5563
f3
!0: 33618 ; =0:16382
0&0:13370 0&1:3012 1&0:24160 1&1:9458
f4
!0: 10765 ; =0:39235
0&0:34579 0&1:4656 1&0:2951 1&1:7814
f5
!0: 19658 ; =0:30342
0&0:27594 0&1:2748 1&0:9936 1&1:9722
f6
!0: 29068 ; =0:20932
0&0:19718 0&1:1214 1&0:17812 1&1:11256
f7
!0: 9755 ; =0:40245
0&0:30956 0&1:9289 1&0:6574 1&1:3181
f8
!0: 3074 ; =0:46926
0&0:35805 0&1:11121 1&0:1725 1&1:1349
f9
!0: 581 ; =0:49419
0&0:37010 0&1:12409 1&0:520 1&1:61
f10
!0: 857 ; =0:49143
0&0:36799 0&1:12344 1&0:731 1&1:126
f11
!0: 13 ; =0:49987
0&0:37520 0&1:12467 1&0:10 1&1:3
f12
!0: 109 ; =0:49891
0&0:37452 0&1:12439 1&0:78 1&1:31
f13
!0: 351 ; =0:49649
0&0:37266 0&1:12383 1&0:264 1&1:87
f14
!0: 17 ; =0:49983
0&0:37514 0&1:12469 1&0:16 1&1:1
f15
!0: 121 ; =0:49879
0&0:37433 0&1:12446 1&0:97 1&1:24
f16
!0: 2 ; =0:49998
0&0:37528 0&1:12470 1&0:2 1&1:0
f17
!0: 325 ; =0:49675
0&0:37291 0&1:12384 1&0:239 1&1:86
f18
!0: 8131 ; =0:41869
0&0:31951 0&1:9918 1&0:5579 1&1:2552
f19
!0: 31676 ; =0:18324
0&0:15009 0&1:3315 1&0:22521 1&1:9155
f20
!0: 639 ; =0:49361
0&0:37065 0&1:12296 1&0:465 1&1:174
f21
!0: 6081 ; =0:43919
0&0:32891 0&1:11028 1&0:4639 1&1:1442
f22
!0: 92 ; =0:49908
0&0:37462 0&1:12446 1&0:68 1&1:24
f23
!0: 29131 ; =0:20869
0&0:16916 0&1:3953 1&0:20614 1&1:8517
f24
!0: 22500 ; =0:27500
0&0:21991 0&1:5509 1&0:15539 1&1:6961
f25
!0: 38332 ; =0:11668
0&0:9085 0&1:2583 1&0:28445 1&1:9887
f26
!0: 39242 ; =0:10758
0&0:8550 0&1:2208 1&0:28980 1&1:10262
f27
!0: 5 ; =0:49995
0&0:37528 0&1:12467 1&0:2 1&1:3
f28
!0: 23 ; =0:49977
0&0:37513 0&1:12464 1&0:17 1&1:6
f29
!0: 424 ; =0:49576
0&0:37313 0&1:12263 1&0:217 1&1:207
f30
!0: 10997 ; =0:39003
0&0:30367 0&1:8636 1&0:7163 1&1:3834
f31
!0: 174 ; =0:49826
0&0:37420 0&1:12406 1&0:110 1&1:64
f32
!0: 533 ; =0:49467
0&0:37167 0&1:12300 1&0:363 1&1:170
f33
!0: 531 ; =0:49469
0&0:37280 0&1:12189 1&0:250 1&1:281
f34
!0: 427 ; =0:49573
0&0:37254 0&1:12319 1&0:276 1&1:151
f35
!0: 1713 ; =0:48287
0&0:36468 0&1:11819 1&0:1062 1&1:651
f36
!0: 2174 ; =0:47826
0&0:35927 0&1:11899 1&0:1603 1&1:571
f37
!0: 32030 ; =0:17970
0&0:14527 0&1:3443 1&0:23003 1&1:9027
f38
!0: 314 ; =0:49686
0&0:37313 0&1:12373 1&0:217 1&1:97
f39
!0: 792 ; =0:49208
0&0:36932 0&1:12276 1&0:598 1&1:194
f40
!0: 5 ; =0:49995
0&0:37525 0&1:12470 1&0:5 1&1:0
f41
!0: 1 ; =0:49999
0&0:37529 0&1:12470 1&0:1 1&1:0
f42
!0: 288 ; =0:49712
0&0:37320 0&1:12392 1&0:210 1&1:78
f43
!0: 17104 ; =0:32896
0&0:25245 0&1:7651 1&0:12285 1&1:4819
f44
!0: 23541 ; =0:26459
0&0:20263 0&1:6196 1&0:17267 1&1:6274
f45
!0: 41962 ; =0:8038
0&0:6549 0&1:1489 1&0:30981 1&1:10981
f46
!0: 43909 ; =0:6091
0&0:5043 0&1:1048 1&0:32487 1&1:11422

In [ ]:
idx = (train['f40'] != 0) #& (train['label'] == 1)
print(sum(train['f40'] != 0))
train[idx][['f40','label']]

5

       f40  label
4536    42      0
31350  177      0
38234  216      0
40788  189      0
49947   66      0

In [ ]:
idx = (train['f41'] != 0) #& (train['label'] == 1)
print(sum(train['f41'] != 0))
train[idx][['f41','label']]

1

       f41  label
14377  126      0

In [ ]:
idx = (train['f14'] != 0) #& (train['label'] == 1)
print(sum(train['f14'] != 0))
train[idx][['f14','label']]

17

       f14  label
1182   258      0
5178    39      1
5238    66      0
7386   126      0
10927   12      0
19478   57      0
20637  132      0
20853   15      0
25491  138      0
28693  162      0
29572  225      0
35790   87      0
38538   99      0
41877   33      0
44548   87      0
48456    9      0
49594  162      0

In [ ]:
idx = (train['f16'] != 0) #& (train['label'] == 1)
print(sum(train['f16'] != 0))
train[idx][['f16','label']]

2

      f16  label
1367   36      0
7542   12      0

In [ ]:
idx = (train['f13'] != 0) #& (train['label'] == 1)
print(sum(train['f13'] != 0))
train[idx][['f13','label']]

351

       f13  label
50      93      0
137     24      0
166     30      0
335     18      0
414      9      1
...    ...    ...
49652   24      0
49665   81      0
49794   45      0
49897   24      0
49941   36      0

[351 rows x 2 columns]

In [ ]:
idx = (train['f27'] != 0) #& (train['label'] == 1)
print(sum(train['f27'] != 0))
train[idx][['f27','label']]

5

       f27  label
33513   21      0
34647   15      1
44654   18      0
46168   36      1
47848   21      1